body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 12px;
}

header {
    background-color: #b7b8d4;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Deja el logo/título a la izquierda y el menú a la derecha */
    align-items: center;
    animation: fadeIn 1s ease-in-out; /* Agrega una animación de desvanecimiento */
    color: #e01212; /* Color del texto del encabezado */
    
}

header ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header a {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; /* Quita el subrayado del enlace */
    text-transform: uppercase;
    color: #000; /* O el color que prefieras */
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    align-items: center;
}
 footer {
    background-color: #b7b8d4;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #e01212; /* Color del texto del pie de página */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: flex;
    justify-content: center;

}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    text-decoration: none; /* Quita el subrayado del enlace */
    text-align: center; /* Centra el contenido del formulario */
}